.last-updated {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 1em;
}

.version-dropdown {
    margin: 10px 0;
    text-align: center;
  }
  
  #version-selector {
    padding: 5px;
    font-size: 14px;
  }