/* Red Collapsible RDU Alert Banner */
.alert-banner {
  display: flex;
  align-items: center; /* Ensures vertical alignment of items */
  justify-content: space-between; /* Ensures proper spacing */
  background-color: #be044537; 
  border: 1px solid #3333331a;
  padding: 0 20px;
  border-radius: 5px;
  font-family: Lato; 
  color: #3e3e3e;
  cursor: pointer;
  border-radius: 0; /* Make square shaped */
}
.alert-banner .emoji {
  font-size: 1.5rem; 
  margin-right: 10px;
  color: red;
}
.alert-collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #be04450c;
  border: 1px solid #3333331a;
  border-top: none;
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
  font-size: 0.9em;
  margin-bottom: 10px; /* Adds spacing below the section */
}
.alert-collapsible-content.open {
  max-height: none;
}
.alert-collapsible-content p {
  font-size: 1.0em;
  line-height: 1.3;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.alert-collapsible-content b {
  color: #6300d3;;
  line-height: 1.3;
}
.alert-collapsible-content ul {
  margin-top: 1rem;
  padding-left: 0.4rem;
  line-height: 1;
}
.alert-collapsible-content li {
  margin-bottom: 0.1rem;
  line-height: 1;
}
.alert-collapsible-content ul ul {
  margin-top: 0.1rem;
  line-height: 1;
}
.alert-collapsible-content ul ul li {
  margin-bottom: 0.1rem;
  line-height: 1;
}
.alert-collapsible-content li b {
  color: #0077cc;
  line-height: 1;
}