/* HBCD HEX color codes */ 
/* green: #24AE70 */ 
/* blue: #199bd6 */ 
/* red: #be074c */ 
/* black/gray: #6b6b6b */ 

/* styling text to make more subtle, e.g. "Click to Expand"*/
.hint {
  color: #888;
  font-size: 90%;
  font-style: normal;
  font-weight: normal;
  background-color: transparent; /* <--- critical */
}

/* styling for text with hyperlinks (not TOC, previous and next footer buttons, or images) */
.rst-content a:not(.rst-footer-buttons a):not(:has(img)) {
  color: #0066cc;
  font-weight: 500;
  text-decoration: underline dotted;
  text-underline-offset: 2px;
  text-decoration-thickness: thin; 
  text-decoration-thickness: 0.3px; 
  background-color: rgba(0, 102, 204, 0.031); /* Add slight color box around text with embedded links too */
  padding: 0 2px;
  border-radius: 2px;
  transition: background-color 0.2s ease;
}
.rst-content a:hover:not(.rst-footer-buttons a):not(:has(img)) {
  background-color: rgba(0, 102, 204, 0.15);
  text-decoration: underline;
}

/* Inline code styling */
:not(pre) > code {
  background: none !important;
  border: none !important;
  padding: 0 !important;
  color: #c900cc !important;
  font-size: 0.85em !important;
  font-weight: 500;
}

code, pre {
  font-family: 'Fira Code', 'JetBrains Mono', 'Source Code Pro', monospace;
  font-size: 0.95em;
}


/* Style for expand all button (measures overview page) */
#toggle-all-btn {
  background-color: #d0dff0;
  color: #474646;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.592);
  display: block;
}
#toggle-all-btn:hover {
  transform: scale(1.05); /* Slight zoom effect */
}

/* Style for folder tree display */
.folder-tree {
  font-family: monospace;
  background-color: #282c34; 
  color: #ffffff;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  white-space: pre;
  display: block;
  overflow-x: auto; /* Allows horizontal scrolling */
}
/* Style for placeholder variables in angle brackets */
.folder-tree .placeholder {
  color: #0af0e1
}
.folder-tree .hashtag {
  color: #b0d619
}
.folder-tree .label {
  color: #199bd6
}
.folder-tree .subses {
  color: #ffd000
}


.gray-text {
  color: #505050;
}
.blue-text {
  color: blue;
}

/* Change color of upper left-hand background */ 
.wy-side-nav-search {background-color: #199bd6;}

/* Centering images */ 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* References section */ 
.references p {
    font-size: smaller;
    line-height: 1.2; /* Reduce line spacing (default is around 1.5-1.6) */
    margin: 5px 0; /* Reduce spacing between paragraphs or list items */
    padding: 2.5px;
  }

/* Styling for dropdown menu for selecting webpage version if we want to use this instead of default flyout menu */ 
  .version-dropdown {
    margin: 10px 0;
    text-align: center;
  }
  #version-selector {
    padding: 5px;
    font-size: 14px;
  }

/* Styling for NBDC Lasso quick link in Data Access section */ 
.button-link {
  display: inline-block;
  background-color: #25ae7066;
  color: #3e3e3e !important; /* Ensures text stays black */
  font-weight: bold; 
  font-family: Lato; 
  padding: 5px 15px;
  text-decoration: none;
  border: 1px solid #25ae70;
  border-radius: 5px;
  font-size: 1.1rem;
  transition: background-color 0.3s ease;
}
/* Explicitly set link states to black */
.button-link:link,
.button-link:visited,
.button-link:hover,
.button-link:active {
  color: #3e3e3e !important;
  text-decoration: none;
}
.button-link:hover {
  background-color: #25ae70; /* background color on hover */
}


