details {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 10px 0; /* Adjust overall spacing around details */
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 5px; /* Adjust padding inside details */
}

details summary:hover {color: #0056b3;}
details li b {color: #0077cc;}
details p b {color: #0077cc;}
details[open] summary {border-bottom: 1px solid #ddd;}
details ul {transition: max-height 0.3s ease-in-out;}

/* Style for the <summary> element */
details summary {
  cursor: pointer;
  font-weight: bold;
  color: #333;
  outline: none;
}
/* Styling for the collapsed content */
details p {
  font-size: 13px;
  margin: 5px 5px; /* Space above and below the list */
  padding-left: 0;
  color: #555;
  line-height: 1.1;
}
details ul {
  font-size: 13px;
  margin: 5px 5px; /* Space above and below the list */
  padding-left: 0;
  color: #555;
}
details ul li {
  margin-bottom: 1px; /* Reduce spacing between list items */
}
/* <code> elements */
details ul li code {
  background-color: #f9f9f9;
  color: #d6336c;
  font-family: 'Courier New', Courier, monospace;
}
details ul:last-child {
  margin-bottom: 0; /* Remove any extra margin at the bottom of the last child */
}