details {
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 5px;
}

details summary:hover {color: #0056b3;}
details li b {color: #0077cc;}
details p b {color: #0077cc;}
details[open] summary {border-bottom: 1px solid #ddd;}
details ul {transition: max-height 0.3s ease-in-out;}

details summary {
  cursor: pointer;
  font-weight: bold;
  color: #333;
  outline: none;
}

details p {
  font-size: 13px;
  margin: 5px 5px;
  padding-left: 0;
  color: #555;
  line-height: 1.1;
}
details ul {
  font-size: 13px;
  margin: 5px 5px;
  padding-left: 0;
  color: #555;
}
details ul li {
  margin-bottom: 1px;
}
details ul li code {
  background-color: #f9f9f9;
  color: #d6336c;
  font-family: 'Courier New', Courier, monospace;
}
details ul:last-child {
  margin-bottom: 0;
}