
/* Green Collapsible Notification Banner */
.notification-banner {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures proper spacing */
  background-color: #25ae7049;
  border: 1px solid #3333331a;
  padding: 0 20px;
  border-radius: 0; /* Make square shaped */
  font-family: Lato; 
  color: #3e3e3e;
  cursor: pointer; 
}
.notification-banner .emoji {
  font-size: 1.2rem; 
  margin-right: 10px;
  color: #007f49;
}
.notification-collapsible-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #25ae700e;
  border: 1px solid #3333331a;
  border-top: none;
  padding: 0 20px;
  border-radius: 0 0 5px 5px;
  font-size: 0.9em;
  margin-bottom: 10px; /* Adds spacing below the section */
}
.notification-collapsible-content.open {
  max-height: none;
}
.notification-collapsible-content p {
  font-size: 1.0em;
  line-height: 1.3;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}
.notification-collapsible-content b {
  color: #6300d3;
  line-height: 1.3;
}
.notification-collapsible-content ul {
  margin-top: 1rem;
  padding-left: 0.4rem;
  line-height: 1;
}
.notification-collapsible-content li {
  margin-bottom: 0.1rem;
  line-height: 1;
}
.notification-collapsible-content ul ul {
  margin-top: 0.1rem;
  line-height: 1;
}
.notification-collapsible-content ul ul li {
  margin-bottom: 0.1rem;
  line-height: 1;
}
.notification-collapsible-content li b {
  color: #0077cc;
  line-height: 1;
}


/* STATIC BANNER */
.static-banner {
  background-color: #f0f4ff;
  padding: 4px 8px;           /* Reduced vertical padding */
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
  line-height: 1.1;
  font-size: 0.9em;
  border-left: 5px solid #199bd6;;
  border-radius: 0; /* Make square shaped */
}
.notification-static-content {
  background-color: #f9fbff;
  border-left: 5px solid #199bd6;;
  padding: 10px 12px;
  margin-top: 0;
  font-size: 1em;
}
.notification-static-content ul,
.notification-static-content ol {
  margin: 0;                   /* Remove extra spacing */
  padding-left: 20px;          /* Optional: indent for list items */
  font-size: 0.9em;
}
.notification-static-content p {
  margin: 0.5em;
  font-size: 0.9em;
}
.notification-static-content li {
  margin: 0; /* override even the slight spacing */
  padding: 0;
}
.notification-static-content b {
  color: #6300d3;
}


